@use "./variables" as vars;

//Navbar
nav {
  background-color: vars.$color_5;
  height: 70px;

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  a img {
    height: 100%;
    padding: 5px;
  }

  .img-profile img {
    padding: 0;
  }

  .menu {
    display: flex;
    align-items: center;
    height: 100%;
  }

  a {
    height: 100%;
    text-decoration: none;
    margin-inline: 10px;
    padding-inline: 10px;
    display: flex;
    align-items: center;

    &:hover {
      color: vars.$color_6;
    }
  }

  .selected {
    color: vars.$color_6;
    text-decoration: underline;
  }

  .img-profile {
    height: 50%;
    background-color: vars.$color_5;
    border-radius: 50px;
  }

  .logged-in {
    // background-color: rgba(vars.$color_6, 0.3);
    // box-shadow: 0 0 15px white;
    background-color: vars.$color_1;
    box-shadow: 0 0 10px vars.$color_6;
  }

  img {
    height: 100%;
    padding: 0;
  }

  .splash {
    display: none;
  }
}

//Card

.card-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  width: fit-content;
  margin: 0 auto;
}

.card {
  width: min-content;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: vars.$color_5;
  position: relative;
  color: vars.$color_9;
  border-radius: 1px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 5px vars.$color_3;
  }

  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 1px;
  }

  h2 {
    font-size: 1.4rem;
    margin: 0;
    text-align: left;
  }

  .card-infos {
    display: flex;
    align-items: flex-end;
  }

  .details {
    width: 80%;
  }

  .pos-absolute-right {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .pos-absolute-left {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .like {
    background-color: rgba(vars.$color_1, 0.8);
    border-radius: 50px;
    margin: 5px;
    padding: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;

    img {
      margin: 0;
      height: 100%;
      width: 100%;
    }
  }

  .total-likes {
    display: flex;
    align-items: center;
  }

  .category-icon {
    background-color: rgba(vars.$color_1, 0.8);
    border-radius: 50px;
    height: 50px;
    width: 50px;
  }

  .category-icon img {
    height: 100%;
    width: 100%;
    padding: 8px;
  }
}
