@use "./variables" as vars;

//Dashboard Page
.dashboardPage {
  h2 {
    margin-top: 0;
    // margin-bottom: 60px;
  }

  .icons-container {
    display: flex;
    justify-content: center;
    height: 70px;
    margin: 30px;
    text-align: center;

    .category-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 100%;
      padding: 15px;
      margin: 10px 20px;
      border: 1px solid vars.$color_2;
      border-radius: 50px;
      font-size: 1.5rem;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px vars.$color_3;
      }

      img {
        height: 100%;
      }
    }
  }
}

#search-bar {
  max-width: 500px;
  margin: 20px auto;
}

.results-section {
  width: 100%;

  label {
    // border: 1px solid blue;
    width: 100%;
    display: flex;
    align-items: center;

    span {
      width: 80%;
    }
    input {
      margin: 20px;
      margin-left: 10px;
      width: 20px;
    }
  }
}

//Profile Page
.profilePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    width: 15%;
    min-width: 130px;
  }

  .profileImage {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 1000px;
    margin-top: 20px;
  }

  form {
    margin: 30px 10px;
    padding: 15px;
    width: fit-content;

    .file-input {
      display: none; /* Completely hides the native file input */
    }

    .file-label {
      display: inline-block;
      width: 100%;
      padding: 10px 15px;
      margin: 20px 0;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      transition: border-color 0.2s;
      color: #323232;
      background-color: vars.$color_2;
    }

    p {
      font-size: 1.2rem;
    }

    input {
      display: none;
    }

    button {
      margin: 10px;
      min-width: 130px;
    }
  }
}
// about page

#about-page-container {
  max-width: vars.$wrapper-width;
  margin: 0 auto;
  padding: 40px 20px;
  color: vars.$color_1;
  background-color: vars.$color_8;

  h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
    color: vars.$color_1;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 25px;
  color: vars.$color_1;
}

section {
  margin-bottom: 60px;
  padding: 30px;
  background: vars.$color_8;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(vars.$color_9, 0.3);
  border: 1px solid vars.$color_7;
}

// Overview Section
#overview-section {
  .slogan {
    text-align: center;
    font-size: 1.5rem;
    color: vars.$color_3;
    margin: 20px 0;
  }

  #overview-text {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    color: vars.$color_1;
  }
}

// Features Section
#features-list {
  list-style: none;
  padding: 0;

  .features-list-item {
    padding: 15px 20px;
    margin-bottom: 10px;
    background: vars.$color_1;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    color: vars.$color_8;

    &:hover {
      transform: translate(-10px) scale(1.05);
      background: vars.$color_3;
    }
  }
}

// How Section
#steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;

  .step {
    padding: 20px;
    background: vars.$color_1;
    border-radius: 8px;
    transition: all 0.3s ease;

    &:hover {
      transform: translate(-10px) scale(1.05);
      background: vars.$color_3;
    }

    h3 {
      color: vars.$color_6;
      margin-bottom: 15px;
      font-size: 1.3rem;
    }

    p {
      text-align: center;
      color: vars.$color_7;
      margin-bottom: 15px;
    }

    ul {
      padding-left: 20px;

      li {
        margin-bottom: 8px;
        color: vars.$color_8;
      }
    }
  }
}

// API Section
#api-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;

  .api-list-item {
    padding: 20px;
    text-align: center;
    background: vars.$color_7;
    border-radius: 8px;
    font-weight: 500;
    transition: background 0.2s;
    color: vars.$color_1;

    &:hover {
      background: vars.$color_6;
    }
  }
}

// Contact Section
#contact-section {
  text-align: center;

  p {
    font-size: 1.1rem;
    color: vars.$color_1;
  }
}

// Media Queries
@media (max-width: 768px) {
  #about-page-container {
    h1 {
      font-size: 2.5rem;
    }
  }

  .title {
    font-size: 1.8rem;
  }

  section {
    padding: 20px;
  }

  #steps {
    grid-template-columns: 1fr;
  }
}

//Item Details

#itemDetails {
  display: flex;
  width: 1300px;
  margin: 150px;
  border: 1px solid white;
  border-radius: 15px;
}

#itemDetails img {
  height: 450px;
  border-radius: 15px;
  margin: 25px
}

.textDetails {
  margin: 50px;
  width:850px;
  text-align: left;
  justify-content: left;  
}

.textDetails em {
  font-size: 1.5rem;
}
//Splash Page
.splash-page {
  text-align: center;
  h2 {
    color: vars.$color_2;
    font-size: 1.5rem;
  }
}
